
source/Paradoxlibrary/bin/Debug/extension.yaml
source/Paradoxlibrary/bin/Debug/icon.png
source/Paradoxlibrary/bin/Debug/Paradoxlibrary.dll
source/Paradoxlibrary/bin/Debug/Paradoxlibrary.pdb
source/Paradoxlibrary/bin/Debug/Playnite.SDK.dll
source/Paradoxlibrary/bin/Debug/Playnite.SDK.pdb
source/Paradoxlibrary/bin/Debug/Playnite.SDK.xml
source/Paradoxlibrary/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.csproj.AssemblyReference.cache
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.csproj.CopyComplete
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.csproj.CoreCompileInputs.cache
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.csproj.FileListAbsolute.txt
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.dll
source/Paradoxlibrary/obj/Debug/Paradoxlibrary.pdb
